<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<div class="row builder-field">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <button type="button" class="btn btn-default navbar-btn" dnd-draggable [dragEnabled]="true" [dragData]="imageData">
              Image
              <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default navbar-btn" dnd-draggable [dragEnabled]="true" [dragData]="textData">
              Text
              <span class="glyphicon glyphicon-text-background" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default navbar-btn" dnd-draggable [dragEnabled]="true" [dragData]="videoData">
              Video
              <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button type="button" class="btn btn-default navbar-btn" (click)="addPage()">
              Add Page
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigation Bar<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li [class.active]="ifHorizontal" (click)="clickOnH()"><a>Horizontal</a></li>
              <li [class.active]="!ifHorizontal" (click)="clickOnV()"><a>Vertical</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--<div class="click2edit">click2edit</div>-->
  <ul class="nav nav-tabs" dnd-sortable-container [dropZones]="[pages]" [sortableData]="pages">
    <li role="presentation" *ngFor="let page of pages; let i = index" dnd-sortable [sortableIndex]="i" [class.active]="page.id == selectedRow" (click)="onPageClick(i, page)">
      <a>Page {{page.id + 1}}</a>
    </li>
  </ul>
  <div id="page-body" class="page-body">
    <header *ngIf="ifHorizontal" class="header-horizontal">
      <div class="pagination-div" *ngFor="let page of pages; let i = index">
        {{i + 1}}
      </div>
    </header>
    <header *ngIf="!ifHorizontal" class="header-vertical dropdown nav navbar-nav navbar-left">
      <a class="dropdown-toggle a-color-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li *ngFor="let page of pages; let i = index">
          <a>Page {{i + 1}}</a>
        </li>
      </ul>
    </header>
    <div id="drop-zone" class="drop-zone" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
      <div class="dnd-element" dnd-draggable (onDragStart)="dragDataSuccess($event)" [dragEnabled]="true" [hidden]="!receivedData.length > 0"  *ngFor="let data of receivedData"
           [dragData]="data"
           [id]="data.id"
           [ngStyle]="{
              left: data.x + 'px',
              top: data.y +'px',
              position: 'absolute',
              wordWrap: 'break-word',
              maxWidth: calculateElementWidthInPercents(data.x)
            }"
           (click)="getFunction(data)" [innerHTML]="data.inner"></div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-default btn-info" (click)="saveContentOfCurrentPage()">Save</button>
  </div>
</div>
