<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">

            <li role="presentation"  class="active">
              <a href="#step1" #begin data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fa fa-file-text"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-credit-card"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="row main">
          <div class="col-xs-8">
            <div class="tab-content">
              <div class="tab-pane active" role="tabpanel" id="step1">
                <general-info [fanfic]="fanfic" [invalid]="invalid"></general-info>
              </div>
              <div class="tab-pane" role="tabpanel" id="step2">
                <description-component [fanfic]="fanfic" [invalid]="invalid"></description-component>
              </div>
              <div class="tab-pane" role="tabpanel" id="step3">
                <payway-component [fanfic]="fanfic"></payway-component>
              </div>
              <div class="tab-pane" role="tabpanel" id="complete">
                <div class="block center-block">
                  <div *ngIf="!editFanfic" class="create-header">
                    {{ 'successfullyCreateFanfic'}}
                  </div>
                  <div *ngIf="editFanfic" class="create-header">
                    {{ 'clickSave'}}
                  </div>
                  <div class="row" style="text-align: center">
                    <a *ngIf="!editFanfic" class="btn btn_send" (click)="send()" >{{ 'send'}}<i style="margin-left: 10px" class="fa fa-check"></i></a>
                    <a *ngIf="editFanfic" class="btn btn_send" (click)="save()" >{{ 'save'}} <i style="margin-left: 10px" class="fa fa-check"></i></a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-xs-4" id="preview">
            <div class="block" style="text-align: center">
              <a  class="btn  btn_save" (click)="save()">{{ 'save'}}</a>
            </div>
          </div>
        </div>
        <div class="row main remove">
          <hr>
          <a  *ngIf="!editFanfic" class="btn btn_remove" (click)="removeDraft()">{{ 'deletedraft'}}</a>
        </div>
      </div>
    </section>
  </div>
</div>
