<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div *ngIf="fanfic" class="container">
  <div class="row title">
    <div class="col-xs-8 fanfic_head">
      <div class="fanfic_heading">{{fanfic.title}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 mainImage">
      <div class="image">
        <img src="{{fanfic.image}}">
      </div>
    </div>

    <div class="col-xs-4">
      <div class="stats">
        <div class="stats-item">
          <a *ngIf="myFanfic && !isGuest()" (click)="navigate()" class="btn  btn_subscribe">{{'displayFanfic.edit' | translate:lang }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="short-description">
        <p class="description">
          {{fanfic.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <a class="tag" routerLink="/fanfics/tag/{{tag.value}}" *ngFor="let tag of fanfic.tags">{{tag.value}}</a>
    </div>
  </div>
  <div class="row">
    <div class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li class="active">
            <a href="#description" data-toggle="tab">
              {{'displayFanfic.about' | translate:lang }}</a>
          </li>
          <li>
            <a href="#chapters" data-toggle="tab">
              {{'displayFanfic.chapters' | translate:lang }}</a>
          </li>
        </ul>
        <div class="tab-description">
          <div [innerHTML]="fanfic.description" class="tab-pane active ql-editor " id="description">
          </div>
          <div class="tab-pane" id="chapters">
            <chapters-component [chapters]="fanfic.chapters" [user]="currentUser" (addChaper)="addChapter($event)"></chapters-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
