spring:
  datasource:
    url: jdbc:mysql://localhost:3306/firstapp0?useSSL=false
    username: root
    password: 4444
    driver-class-name: com.mysql.jdbc.Driver

jpa:
  hibernate:
    ddl-auto: none
  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQLDialect
