<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div *ngIf="chapter" class="container">
  <div class="row title">
    <div class="col-xs-8 chapter_head">
      <div class="chapter_heading">{{chapter.title}}</div>
    </div>
    <div class="col-xs-4">

    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="stats">
        <div class="stats-item">
          <a *ngIf="myFanfic && !isGuest()" (click)="navigate()" class="btn  btn_subscribe">{{'displayFanfic.edit' | translate:lang }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div class="short-description">
        <p class="content">
          {{chapter.content}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p class="rating" style="padding-bottom: 1%;">{{'displayChapter.rating' | translate:lang }}: </p>
      <rating (click)="addRating()"
              [(ngModel)]="chapter.rating"
              [float]="true"
              [readonly]="chapter.isRated"
      >
      </rating>
      <span class="rating" style="padding-bottom: 3%;padding-left: 10px;">
                {{chapter.rating}}
            </span>
    </div>
  </div>
  <div class="row">
    <div class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li class="active">
            <a href="#content" data-toggle="tab">
              {{'displayChapter.about' | translate:lang }}</a>
          </li>
          <li>
            <a href="#comments" data-toggle="tab">
              {{'displayChapter.comments' | translate:lang }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div [innerHTML]="chapter.content" class="tab-pane active ql-editor " id="content">
          </div>
          <div class="tab-pane" id="comments">
            <comments-component [comments]="chapter.comments" [user]="currentUser" (addComment)="addComment($event)"></comments-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
