<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<nav class="navbar navbar-default" [class.navbar-default]="!themeDark" [class.navbar-inverse]="themeDark">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Course Work</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/home']">{{locale.home}}</a></li>
        <li><a *ngIf="auth.loggedIn()" [routerLink]="['/user', auth.getUser().id]" routerLinkActive="active">{{locale.yourAccount}}</a></li>
        <li><a *ngIf="auth.loggedIn()" [routerLink]="['/createPost']" routerLinkActive="active">{{locale.newSite}}</a></li>
        <li><a *ngIf="auth.loggedIn() && auth.getUser().roles[0].role == 'admin' " [routerLink]="['/manage']" routerLinkActive="active">{{locale.manageUser}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--*ngIf="user.roles[0].role != 'user'"-->
        <li><a [routerLink]="['/login']" routerLinkActive="active" *ngIf="!auth.loggedIn()">{{locale.signIn}}</a></li>
        <li><a [routerLink]="['/registration']" routerLinkActive="active" *ngIf="!auth.loggedIn()">{{locale.signUp}}</a></li>
        <li><a [routerLink]="['/home']" routerLinkActive="active" *ngIf="auth.loggedIn()" (click)="auth.logout()">{{locale.signOut}}</a></li>
        <li>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-default" (click)="searchClick()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{locale.language}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [class.active]="getLangShort() === 'ru'"  (click)="clickOnRussian()"><a><img src="images/languages/ru.png" width="16" height="16">Русский</a></li>
            <li [class.active]="getLangShort() === 'en'"  (click)="clickOnEnglish()"><a><img src="images/languages/en.png" width="16" height="16">English</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{locale.theme}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [class.active]="themeDark" (click)="onDarkThemeClick()"><a>{{locale.themeDark}}</a></li>
            <li [class.active]="!themeDark" (click)="onLightThemeClick()"><a>{{locale.themeLight}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
