<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="jumbotron page-size">
  <div class="container global-offset">
    Fanfic: <span class="highlight-fanficname" (click)="clickOnFanfic(chapter.fanfic)">{{chapter.fanfic.title}}</span>
    <h2>{{chapter.title}}</h2>
    <p>{{chapter.content}}</p>
    <div class="chapter-rating">
      <div *ngIf="userRate == null && auth.loggedIn()">
        <span>Rate this chapter </span>
        <div class="btn-group" role="group" aria-label="" >
          <button type="button" class="btn btn-default" (click)="rateChapter(1)">1</button>
          <button type="button" class="btn btn-default" (click)="rateChapter(2)">2</button>
          <button type="button" class="btn btn-default" (click)="rateChapter(3)">3</button>
          <button type="button" class="btn btn-default" (click)="rateChapter(4)">4</button>
          <button type="button" class="btn btn-default" (click)="rateChapter(5)">5</button>
        </div>
      </div>
      <span *ngIf="userRate != null">Your rate is {{userRate.value}}</span>
      <p>Chapter rating {{avgRating}}</p>
    </div>
    <div id="page-body" class="page-body">
      <header *ngIf="ifHorizontal" class="header-horizontal">
        <div class="pagination-div" *ngFor="let page of pages; let i = index" (click)="onPageClick(i)">
          {{i + 1}}
        </div>
      </header>
      <header *ngIf="!ifHorizontal" class="header-vertical dropdown nav navbar-nav navbar-left">
        <a class="dropdown-toggle a-color-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngFor="let page of pages; let i = index" (click)="onPageClick(i)">
            <a>Page {{i + 1}}</a>
          </li>
        </ul>
      </header>
      <div id="drop-zone" class="drop-zone">
        <div [hidden]="!receivedData.length > 0"  *ngFor="let data of receivedData"
             [ngStyle]="{
              left: data.x + 'px',
              top: data.y +'px',
              position: 'absolute',
              wordWrap: 'break-word',
              maxWidth: calculateElementWidthInPercents(data.x)
            }"
             [innerHTML]="getSanitizer(data.inner)">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron page-size leave-a-comment-field" *ngIf="auth.loggedIn()">
  <div class="container global-offset">
    <p>Leave a comment:</p>
    <textarea rows="6" contenteditable="false" class="text-area-field" [(ngModel)]="commentToAdd.value"></textarea>
    <button type="button" class="btn btn-primary" (click)="leaveCommentClick()">Leave a comment</button>
  </div>
</div>
<div class="jumbotron page-size leave-a-comment-field" *ngFor="let comment of chapter.comments">
  <div class="container global-offset">
    Author: <span class="highlight-username" (click)="clickOnName(comment.user)">{{comment.user.username}}</span>
    <span class="glyphicon glyphicon-remove remove-glyph" aria-hidden="true" *ngIf="editValidation(comment.user)" (click)="removeCommentClick(comment)"></span>
    <span class="date">{{comment.date}}</span>
    <p>{{comment.value}}</p>
  </div>
</div>
