<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<header class="head">
  <div class="row">
    <div class="col-xs-6 left">

      <nav class="head_nav">
        <ul>
          <li class="head_item">
            <a routerLink="" class="logo">
              <img src="/src/assets/images/354637.png" />
            </a>
          </li>
          <li class="head_item"><a routerLink="/fanfics" class="head_link">{{ 'fanfics' | translate:lang }}</a></li>
        </ul>
      </nav>

    </div>
    <div class="col-xs-6 right-col" >
      <div *ngIf="user" class="right">
        <span class="welcome-text">{{ 'hello' | translate:lang }}</span>
        <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">"{{user.username}}</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/profile/{{user.id}}">{{ 'profile' | translate:lang }}</a></li>
          <li><a routerLink="/draft">{{ 'createFanfic' | translate:lang }}</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/admin">{{ 'admin' | translate:lang }}</a></li>
          <li><a href="#" class="exit" (click)="logOut()">{{ 'logout' | translate:lang }}</a></li>
        </ul>
      </div>
      <div *ngIf="!user" class="right">
        <div class="row">
          <a routerLink="/login" class="login">{{ 'login' | translate:lang }}</a>
        </div>
      </div>
    </div>
  </div>
</header>
