<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="main-table">
  <p-confirmDialog></p-confirmDialog>
  <div class="button-group" [ngClass]="{'visible' : !selectedUsers.length }">
    <button type="button" (click)="deleteUsers()" pButton icon="fa-trash" label="Delete"></button>
    <button type="button" (click)="blockUsers()" pButton icon="fa fa-lock" label="Block"></button>
    <button type="button" (click)="unblockUsers()" pButton icon="fa fa-unlock-alt" label="Unlock"></button>
  </div>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Search" style="height: 30px;">
  </div>
  <!--<div class="header-message"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>-->
  <p-dataTable #dt
               [value]="users"
               [(selection)]="selectedUsers"
               dataKey="username"
               [globalFilter]="gb">
    <p-header>Users</p-header>
    <p-column [style]="{'width':'38px', 'border': 'none'}" selectionMode="multiple"></p-column>
    <p-column field="username"
              header="Username"
              sortable="true"
              [style]="{'text-align' : 'center', 'font-family' : 'Helvetica Neue', 'font-size':'20px', 'border': 'none'}"
    ></p-column>
    <p-column field="email"
              header="Email"
              [style]="{'text-align' : 'center', 'font-family' : 'Helvetica Neue', 'font-size':'20px', 'border': 'none'}"></p-column>
    <p-column field="role"
              header="Role"
              [filter]="true"
              filterMatchMode="equals"
              [style]="{'text-align' : 'center', 'font-family' : 'Helvetica Neue', 'font-size':'15px', 'border': 'none'}">
      <ng-template pTemplate="filter" let-col>
        <p-dropdown [options]="roles" [style]="{'width':'100%'}"
                    (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                    styleClass="ui-column-filter"></p-dropdown>
      </ng-template>
    </p-column>
    <p-column field="isBlocked"  sortable="true"
              [style]="{'border': 'none', 'font-size':'20px', 'text-align': 'center'}">
      <ng-template  pTemplate="header">
        <i  class="fa fa-lock" aria-hidden="true"></i>
      </ng-template>
      <ng-template  pTemplate="body" let-user="rowData" >
        <i *ngIf="user.isBlocked"
           class="fa fa-lock" aria-hidden="true"></i>
        <i *ngIf="!user.isBlocked"
           class="fa fa-unlock" aria-hidden="true"></i>
      </ng-template>
    </p-column>
    <p-column field="isSendConfirm"  class="container-mail" sortable="true"
              [style]="{'border': 'none', 'font-size':'20px', 'text-align': 'center'}">
      <ng-template  pTemplate="header">
        <i  class="fa fa-envelope-o" aria-hidden="true"></i>
      </ng-template>
      <ng-template  pTemplate="body" let-user="rowData" >
        <i *ngIf="user.isSendConfirm"
           (click)="showConfirmWindow(user)"
           class="fa fa-envelope-o" aria-hidden="true"></i>
      </ng-template>
    </p-column>
    <p-footer></p-footer>
  </p-dataTable>

  <p-dialog header="Confirm User" [(visible)]="display" modal="modal" width="700" [responsive]="true">
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
      <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
    </p-footer>
  </p-dialog>

</div>
